body {
    background-image: url(./aruna.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    opacity: 0.8;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(233, 89, 5);
    font-weight: 50px; 
}

p {
    text-align: center;
    color: rgb(243, 90, 8);
    font-size: 20px;
    font-weight: bold;
}

.App {
  max-width: 1100px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  color: rgb(238, 226, 226);
  text-align: center;
  margin: 30px 0;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
a {
  color: rgb(233, 89, 5);
}

